<p>
  {{companyInfo.name}}
  <br>
  {{companyInfo.tel}}
  <br>
  {{companyInfo.fax}}
  <br>
  {{companyInfo.address}}
  <br>
  {{companyInfo.rcbNo}}
  <br>
</p>
<hr>
<button type="button" (click)="goBack()" class="btn btn-dark">Back</button>
